<% layout('layout/boilerplate') %>

<div class="row">
  <h2 class="text-center">Edit <%= campground.title %></h2>
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form
      class="validated-form g-3"
      action="/campgrounds/<%= campground._id %>?_method=PUT "
      method="post"
      novalidate
    >
      <div class="mb-3">
        <label for="campName" class="form-label">Campground Name:</label>
        <input
          type="text"
          class="form-control"
          name="campground[title]"
          value="<%= campground.title%> "
          id="campName"
          required
        />
      </div>
      <label for="campPrice" class="form-label">Price:</label>
      <div class="input-group mb-3">
        <span class="input-group-text" id="campPrice">$</span>
        <input
          type="text"
          class="form-control"
          placeholder="0.0"
          id="campPrice"
          aria-label="Username"
          value="<%= campground.price%> "
          name="campground[price]"
          aria-describedby="campPrice"
          required
        />
      </div>
      <div class="mb-3">
        <label for="campLocation" class="form-label">Location:</label>
        <input
          type="text"
          class="form-control"
          name="campground[location]"
          value="<%= campground.location%> "
          id="campLocation"
          required
        />
      </div>
      <div class="mb-3">
        <label for="campDes" class="form-label">Description</label>
        <textarea
          class="form-control"
          name="campground[description]"
          id="campDes"
          rows="3"
          required
        >
        <%= campground.description%>
      </textarea
        >
      </div>
      <div class="col-12">
        <a href="/campgrounds" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
  <div class="col-lg-3"></div>
</div>

<!--Old Form-->
<!-- <h1>Edit <%= campground.title %></h1>
<form action="/campgrounds/<%= campground._id %>?_method=PUT " method="post">
  <label for="campName">Campground Name:</label>
  <input
    type="text"
    name="campground[title]"
    value="<%= campground.title%> "
    id="campName"
  />
  <br />
  <br />
  <label for="campLocation">Location:</label>
  <input
    type="text"
    name="campground[location]"
    id="campLocation"
    value="<%= campground.location%> "
  />
  <br />
  <br />
  <label for="campPrice">Price:</label>
  <input
    type="number"
    name="campground[price]"
    id="campPrice"
    value="<%= campground.price%> "
  />
  <br />
  <br />
  <label for="campDes">Description:</label>
  <textarea name="campground[description]" id="campDes" cols="30" rows="5">
        <%= campground.description%>
    </textarea
  >
  <br />
  <br />
  <button type="submit">Update</button>
</form>
<br />
<a href="/campgrounds">Cancel</a> -->
